.gsc-input-box, .gsc-search-button {
    border-radius: 100px !important;
}

.gsc-input-box {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.gsc-search-button {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}